<!-- Menu -->
<div class="menu-toggle">
    <i class="fas fa-bars"></i>
</div>

<div class="menu-overlay">
    <div class="menu-content">
        <div class="menu-header">
            <h2>Projects</h2>
            <button class="menu-close">
                <i class="fas fa-times"></i>
            </button>
        </div>
        <ul class="menu-projects">
            <li><a href="BCI.html">Mind Controlled Robotic Prosthetics</a></li>
            <li><a href="chess.html">Automatic Chess Playing Robot</a></li>
            <li><a href="rover.html">Self-Driving RC Car Platform</a></li>
            <li><a href="nerf.html">Sentry Nerf Gun</a></li>
            <li><a href="rocketry.html">Olin Rocketry</a></li>
            <li><a href="hacking-neato.html">Hacking a Neato Robot</a></li>
            <li><a href="neato-gestures.html">Neato Gesture Commands</a></li>
            <li><a href="neato-particle-filter.html">Neato Particle Filter</a></li>
        </ul>
    </div>
</div> 